/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! For example - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

.MMM-StatusPageIo {
  font-family: "Roboto Condensed", sans-serif;
  color: #ffffff; /* Color the ID #. Default is white. */
  font-size: 16px; /* Adjust to your liking, line by line */
}

.MMM-StatusPageIo .header {
  color: #aaa; /* Color the title text. Default is white. */
  font-size: 20px;
  font-weight: 700;
}

.MMM-StatusPageIo .impact-none {
  color: #008000;
}

.MMM-StatusPageIo .impact-minor {
  color: #ffff00;
}

.MMM-StatusPageIo .impact-major {
  color: #ffa500;
}

.MMM-StatusPageIo .impact-critical {
  color: #ff0000;
}

.MMM-StatusPageIo .impact-maintenance {
  color: #0000ff;
}

.MMM-StatusPageIo .comp-status-under_maintenance {
  color: #0000ff;
}

.MMM-StatusPageIo .comp-status-operational {
  color: #008000;
}

.MMM-StatusPageIo .comp-status-degraded_performance {
  color: #ffff00;
}

.MMM-StatusPageIo .comp-status-partial_outage {
  color: #ffa500;
}

.MMM-StatusPageIo .comp-status-major_outage {
  color: #ff0000;
}

.incident-wrapper {
  border-bottom: 0.5px solid #666;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.incident-wrapper:last-child {
  border: none;
}

.component-wrapper {
  border-bottom: 0.5px solid #666;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.component-wrapper:last-child {
  border: none;
}

/* Left flex content */
.status-wrapper {
  font-size: 50px;
  max-width: 50px;
  display: flex;
  line-height: 1;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-basis: 20%;
}

.status-wrapper .fa {
  font-size: 40px;
}
.expected_delivery_label {
  font-size: 16px;
}

/* Right flex content */
.data-wrapper {
  text-align: left;
  margin-left: 15px;
  overflow: hidden;
}
